# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pubspec.lock
.pub-cache/
.pub/
/build/

# Project related
/lib/pin.dart
/assets/map/template_osm-bright.zip
/assets/map/map_bw.osm.pbf
/assets/map/TileMill Export/
/assets/map/TileMill Projects/
/assets/map/.map_bw.osm.pbf.icloud
/run/build_release.bat

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
