# Service file which starts the KartProject on boot. This file should be
# included under '/etc/systemd/system/'. To initalize it run the following
# commands:
# sudo systemctl enable kart-project
# sudo systemctl start kart-project

[Unit]
Description=Runs the KartProject.

[Service]
Type=simple
ExecStart=sudo /home/pi/run.sh

[Install]
WantedBy=multi-user.target